body {
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-rows: 200px auto 100px;
    grid-template-columns: auto;
    grid-template-areas:
      "header"
      "content"
      "footer";
}

a {
    color: white;
}

h3 {
    font-weight: normal;
}

ul {
    list-style-type:none;
}

.header {
    grid-area: header;
    background-color: #ff7e00;
    color: #04385e
}

.content {
    grid-area: content;
}

.course-work span {
    font-weight: bold;
}

.footer {
    grid-area: footer;
    background-color: #04385e;
    color: white;
}